h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	color: #333;
}

small {
	color: #666;
}

button {
	float: left;
	min-width: 50px;
	padding: 5px;
	margin: 8px 2px;
	background-color: #ccc;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}

.third {
	background-color: #aaa;
	cursor: pointer;
	&:hover {
		border: 1px solid #333;
	}
}